<%- include("./../partials/header.ejs") %>

<h1 class="center heading">Miyahon</h1>
<h2 class="center sub-heading">Your one stop shop for anything and everything manga relaterad!</h2>

<%- include("./../partials/footer.ejs") %>